$font-family-sans-serif:'Roboto',
sans-serif;
$font-family-pt: 'PT Serif',
serif;
$green: #28A154;
$orange: #FF6A00;
$blue: #005DFF;
$dark-gray: #9e9e9e;
$dark-gray-medium: #616161;
$dark-gray-bold: #757575;
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-pt;
}

span,
p {
    font-family: $font-family-sans-serif;
}

.background-orange {
    background-color: #FF6A00;
}

.background-pale-blue {
    background-color: #e6efff;
}

.background-pale-orange {
    background-color: #FFEFE6;
}

.background-pale-green {
    background-color: #E5FAED;
}

.text-dark-gray {
    color: $dark-gray;
}

.text-dark-gray-medium {
    color: $dark-gray-medium;
}

.text-dark-gray-bold {
    color: $dark-gray-bold;
}

.text-blue {
    color: $blue;
}

.text-green {
    color: $green;
}

.text-orange {
    color: $orange;
}

.border-blue {
    border: 1px solid $blue;
}

.border-orange {
    border: 1px solid $orange;
}

.border-green {
    border: 1px solid $green;
}

.text-title {
    font-size: 57px;
    text-align: center;
    font-weight: bold;
}

.text-note {
    font-size: 18px;
    text-align: center;
    font-style: normal;
}

.hr {
    width: auto;
    height: 1px;
    background-color: #EEEEEE;
}

ul {
    list-style-type: none;
}

body {
    font-family: $font-family-sans-serif;
    font-style: normal;
    color: #212121;
    margin: 0;
    padding: 0;
    margin-bottom: 39px;
}

.container {
    max-width: 1170px;
}

.mb-104 {
    margin-bottom: 104px;
}

// header
.navbar {
    margin-top: 27px;
    padding: 0;
    .logo,
    .menu {
        padding: 0;
        white-space: nowrap;
    }
    .get-start {
        text-align: right;
        button {
            margin-right: -15px;
        }
    }
    li {
        a {
            &:hover {
                color: black;
            }
        }
    }
    .active {
        color: black;
    }
}

.header {
    margin-top: 159px;
    .text-note {
        color: $dark-gray-bold;
        margin: 22px 0 57px 0;
    }
    .btn {
        background-color: #FF6A00;
        padding: 8px 23px;
        font-family: $font-family-sans-serif;
        font-size: 18px;
        border-radius: 50px;
        box-shadow: 0px 10px 20px 20px #e0cdbf;
        i {
            margin-right: 10px;
        }
    }
}

//  owlcarousel
.owlcarousel {
    margin-top: 104px;
    position: relative;
    .owl-nav {
        font-size: 80px;
        .owl-prev {
            position: absolute;
            left: 1%;
            top: 31%;
            &:hover {
                background: transparent;
                border: transparent;
            }
        }
        .owl-next {
            position: absolute;
            right: 1%;
            top: 31%;
            &:hover {
                background: transparent;
            }
        }
    }
    button:focus {
        outline: 0px dotted;
        outline: 0px auto -webkit-focus-ring-color;
    }
}

//  agency
.agency {
    margin-top: 104px;
    .text-note {
        color: $dark-gray;
        max-width: 356px;
        margin: 0 auto 64px auto;
    }
    .agency-logo {
        margin: 0 44px;
        display: flex;
        justify-content: space-between;
    }
}

//  works
.works {
    .work-title {
        margin-bottom: 61px;
        .text-note {
            color: $dark-gray;
            margin-bottom: 11px;
        }
    }
}

.box-number {
    margin-bottom: 104px;
    .number {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        padding: 9px;
        margin: auto;
    }
    .text-number {
        font-family: $font-family-pt;
        font-size: 57px;
        line-height: 120%;
        font-weight: bold;
        text-align: center;
        &:hover {
            text-shadow: -1px 3px 6px black;
        }
    }
    .boxnumber-title {
        font-size: 18px;
        margin: 25px 0 15px 0;
        text-align: center;
        font-weight: bold;
    }
    .boxnumber-desc {
        font-size: 18px;
        max-width: 310px;
        text-align: center;
        margin: auto;
        color: $dark-gray-medium;
    }
}

.feedback-cus {
    .feedback {
        .feedback-content {
            font-style: normal;
            font-size: 32px;
            line-height: 140%;
            max-width: 461px;
            margin: 38px 0;
            padding: auto;
            font-weight: bold;
        }
        .text-note {
            text-align: left;
        }
        .button {
            margin-top: 96px;
            .btn-next {
                width: 45px;
                height: 45px;
                border-radius: 50px;
                border: 1px solid red;
                background-color: transparent;
                outline: none;
                i {
                    font-size: 18px;
                    color: red;
                }
            }
        }
    }
}

.feedback-image {
    .image-shadow {
        background: linear-gradient(135deg, #FFF8F4 0%, #FFE8DB 100%);
        border-radius: 32px 72px 32px 32px;
        width: 522px;
        height: 522px;
        position: absolute;
        left: 47px;
        top: 0;
        z-index: -1;
    }
    .image {
        position: relative;
        left: 0;
        top: 40px;
        width: 522px;
        height: 522px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.our-packages {
    margin-top: 184px;
    .row {
        margin: 61px -5px 0 -5px;
        overflow: hidden;
    }
    .col-xl-4 {
        padding: 0 5px;
    }
    .package-price {
        border-radius: 16px;
        padding: 48px;
        position: relative;
        overflow: hidden;
        .circle {
            position: absolute;
            width: 264px;
            height: 264px;
            left: 236.5px;
            top: -132px;
            background: rgba(230, 239, 255, 0.7);
            mix-blend-mode: multiply;
            border-radius: 216px;
        }
        .circle-mini {
            position: absolute;
            width: 106px;
            height: 106px;
            left: 304.5px;
            top: 70px;
            background: rgba(230, 239, 255, 0.4);
            mix-blend-mode: multiply;
            border-radius: 120px;
        }
        .choose {
            box-sizing: border-box;
            border-radius: 80px;
            padding: 9px 86px;
            margin-top: 32px;
            font-weight: bold;
            font-size: 18px;
            outline: none;
            cursor: pointer;
        }
    }
}

.choose {
    box-sizing: border-box;
    border-radius: 80px;
    padding: 9px 86px;
    margin-top: 32px;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

.price-content {
    .price-type {
        font-weight: bold;
        font-size: 18px;
        color: $dark-gray-medium;
    }
    .price {
        font-weight: bold;
        font-size: 57px;
        margin-top: 16px;
        margin-bottom: 0;
    }
    .sub-price {
        font-weight: bold;
        font-size: 14px;
    }
}

.check-list {
    margin-top: 32px;
    margin-left: -40px;
    .list-note {
        font-size: 18px;
        margin-bottom: 16px;
        i {
            color: $dark-gray-medium;
        }
    }
}

.product {
    margin-top: 208px;
    .product-menu {
        justify-content: center;
        font-weight: bold;
        font-size: 18px;
        margin: 60px 0 63px 0;
        .nav-link {
            padding: 0;
            margin: 0 27px;
        }
        a {
            color: $dark-gray;
            position: relative;
            &:hover {
                color: $blue;
                &::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    border: 2px solid #005DFF;
                    /* width: auto; */
                    position: absolute;
                    top: 49px;
                    left: 0;
                }
            }
        }
        .active {
            color: $blue;
            &::after {
                content: "";
                width: 100%;
                height: 1px;
                border: 2px solid #005DFF;
                /* width: auto; */
                position: absolute;
                top: 49px;
                left: 0;
            }
        }
    }
    .tab-content {
        .tab-pane {
            margin-bottom: 47px;
            // display: block;
            .row {
                margin: 0 -8px 16px -8px;
                .col-xl-4 {
                    padding: 0 8px;
                }
            }
        }
    }
    .btn-view {
        padding: 9px 41px;
        border: 1px solid #FF6A00;
        box-sizing: border-box;
        border-radius: 80px;
        font-weight: bold;
        font-size: 18px;
        background-color: white;
        outline: none;
        margin-left: 40%;
        i {
            margin-left: 10px;
            font-size: 15px;
        }
    }
}

.services {
    margin-top: 169px;
    .text-title {
        margin-bottom: 61px;
    }
    .service-detail {
        margin-bottom: 16px;
        border-radius: 16px;
        padding: 28px 70px 28px 72px;
        .col-xl-7 {
            margin: auto;
        }
        .detail {
            cursor: pointer;
            margin: auto;
        }
    }
    i {
        font-size: 15px;
    }
}

.detial-name {
    font-weight: bold;
    font-size: 32px;
    line-height: 140%;
}

.detail-subname {
    font-size: 18px;
    margin: 0 0 56px 0;
    max-width: 493px;
}

.detail-note {
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
}

.faq {
    margin-top: 171px;
    .text-title {
        margin-bottom: 61px;
    }
    .faq-content {
        display: flex;
        justify-content: space-between;
    }
    .content {
        margin-bottom: 48px;
        .text-note {
            max-width: 510px;
            text-align: left;
            margin-top: 29px;
        }
    }
}

.hr-a {
    // transform: rotate(45deg);
    height: 594.5px;
    width: 1px;
    border: 1px solid #EEEEEE;
}

.getStart {
    position: relative;
    padding: 72px;
    overflow: hidden;
    border-radius: 16px;
    margin-top: 56px;
    .start-title {
        font-weight: bold;
        font-size: 57px;
        line-height: 120%;
        text-align: center;
    }
    .circle-1 {
        position: absolute;
        width: 365px;
        height: 365px;
        left: -104px;
        top: -276.88px;
        background: #FDAE7C;
        opacity: 0.2;
        border-radius: 363.189px;
    }
    .circle-2 {
        position: absolute;
        width: 211px;
        height: 211px;
        left: 863px;
        top: 273.12px;
        background: #FDAE7C;
        opacity: 0.3;
        border-radius: 363.189px;
    }
    .circle-3 {
        position: absolute;
        width: 341px;
        height: 341px;
        left: 968px;
        top: 208.12px;
        background: #FDAE7C;
        opacity: 0.3;
        border-radius: 363.189px;
    }
    .circle-4 {
        position: absolute;
        width: 189px;
        height: 189px;
        left: 1022px;
        top: -71.88px;
        background: #FDAE7C;
        opacity: 0.1;
        border-radius: 363.189px;
    }
    .circle-5 {
        position: absolute;
        width: 189px;
        height: 189px;
        left: 48px;
        top: 315.12px;
        background: #FDAE7C;
        opacity: 0.1;
        border-radius: 363.189px;
    }
    .circle-6 {
        position: absolute;
        width: 287px;
        height: 287px;
        left: -144px;
        top: 197.12px;
        background: #FDAE7C;
        opacity: 0.1;
        border-radius: 363.189px;
    }
    .circle-7 {
        position: absolute;
        width: 207px;
        height: 207px;
        left: -104.5px;
        top: -66.55px;
        background: #FDAE7C;
        opacity: 0.5;
        border-radius: 363.189px;
    }
    .btn-book {
        margin-top: 43px;
        border: #FF6A00;
        background-color: #FF6A00;
        padding: 9px 19px;
        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        border-radius: 50px;
        box-shadow: 0px 10px 20px 20px #e0cdbf;
        outline: none;
        i {
            margin-left: 10px;
            font-size: 15;
        }
    }
}

.footer-respon {
    display: none;
}

.footer {
    margin-top: 104px;
    .footer-contact-info {
        display: flex;
        justify-content: space-between;
        .footer-contact {
            .footer-detail {
                i {
                    margin-right: 16px;
                }
            }
        }
    }
    .footer-socail {
        .socail {
            display: flex;
            justify-content: center;
            .image {
                width: 22px;
                height: 26px;
                margin: 46px 24px 21px 24px;
                img {
                    width: 100%;
                }
            }
        }
        .copy-right {
            display: flex;
            justify-content: space-between;
            .footer-sub {
                color: #7E92B3;
                .icon {
                    font-size: 16px;
                    color: #7E92B3;
                    margin: 0 10px;
                }
                span {
                    color: #6C7E99;
                    font-weight: bold;
                    font-family: $font-family-pt;
                }
                i {
                    color: red;
                }
            }
        }
    }
    .footer-title {
        font-weight: bold;
        font-size: 18px;
        font-family: $font-family-pt;
        margin-bottom: 24px;
    }
    .footer-sub {
        font-size: 14px;
        color: $dark-gray-medium;
    }
    ul {
        list-style-type: none;
        padding-left: 0px;
        padding-right: 53px;
        white-space: nowrap;
        a {
            color: $dark-gray-medium;
            margin-bottom: 11px;
        }
    }
    .footer-contact {
        ul {
            padding-right: 0;
            li {
                a {
                    line-height: 47px;
                }
            }
        }
    }
    .footer-intro {
        ul {
            li {
                a {
                    line-height: 31px;
                }
            }
        }
    }
}

.footer-respon {
    .footer-contact {
        ul {
            padding-right: 0;
            li {
                a {
                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .footer-intro {
        ul {
            li {
                a {
                    line-height: 31px;
                }
            }
        }
    }
}

.item {
    width: 369px;
    height: 369px;
    img {
        width: 100%;
    }
}

// slider 
.owl-dots {
    display: none;
}

@media (max-width: 1024px) {
    .owl-carousel {
        .owl-item {
            .item {
                width: 335px;
                height: 369px;
            }
        }
    }
    .product {
        .tab-content {
            .tab-pane {
                .col-xl-4 {
                    .item {
                        width: 310px;
                        height: 310px;
                    }
                }
            }
        }
    }
    .our-packages {
        .package-price {
            .choose {
                padding: 9px 63px;
            }
        }
    }
}

@media (max-width: 768px) {
    .owl-carousel {
        .owl-item {
            .item {
                width: 250px;
                height: 250px;
            }
        }
    }
    .services {
        .service-detail {
            .col-md-5 {
                img {
                    margin-left: -70px;
                }
            }
        }
    }
    .agency {
        .agency-logo {
            display: block;
            text-align: center;
            img {
                margin-bottom: 20px;
            }
        }
    }
    .feedback-cus {
        .feedback-image {
            .image-shadow,
            .image {
                width: 310px;
                height: 310px;
            }
        }
    }
    .our-packages {
        .package-price {
            padding: 12px;
            .choose {
                padding: 9px 55px;
            }
        }
    }
    .product {
        .tab-content {
            .tab-pane {
                .col-xl-4 {
                    .item {
                        width: 235px;
                        height: 235px;
                    }
                }
            }
        }
    }
    .footer {
        .footer-contact-info {
            display: block;
            .footer-contact {
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 425px) {
    .owl-carousel {
        .owl-item {
            .item {
                width: 210px;
                height: 210px;
            }
        }
    }
    .text-title {
        font-size: 36px;
    }
    .get-start {
        margin-top: 15px;
        margin-left: -15px;
        text-align: left !important;
    }
    .faq {
        .faq-content {
            display: block;
            .hr-a {
                display: none;
            }
        }
    }
    .feedback-cus {
        .feedback {
            .feedback-content {
                font-size: 24px;
            }
            .button {
                margin-top: 20px;
            }
        }
        .image-shadow {
            left: 85px;
            top: 40px;
        }
        .image {
            left: 20px;
            top: 80px;
        }
    }
    .our-packages {
        padding: 48px;
        .package-price {
            padding: 30px;
            margin-bottom: 20px;
        }
    }
    .product {
        .tab-content {
            .tab-pane {
                .col-xl-4 {
                    .item {
                        margin: 20px auto;
                    }
                }
            }
        }
        .btn-view {
            margin-left: 25%;
        }
        .product-menu {
            .nav-item {
                margin-bottom: 50px;
            }
        }
    }
    .footer-respon {
        display: block;
    }
    .footer {
        .footer-contact-info {
            display: none;
            .footer-contact {
                margin-top: 20px;
                .footer-detail {
                    i {
                        margin-right: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .owl-carousel {
        .owl-item {
            .item {
                width: 185px;
                height: 185px;
            }
        }
        .owl-nav {
            display: none;
        }
    }
    .services .service-detail {
        padding: 30px 10px;
    }
    .getStart {
        .btn-book {
            padding: 10px 8px;
        }
    }
    .feedback-cus {
        .feedback-image {
            .image-shadow {
                left: 80px;
                width: 280px;
                height: 265px;
            }
            .image {
                width: 280px;
                height: 280px;
            }
        }
    }
    .our-packages {
        margin-top: 150px;
        padding: 20px;
    }
    .product {
        margin-top: 100px;
        .btn-view {
            padding: 13px 15px;
            margin-left: 20%;
        }
    }
    .services .service-detail {
        padding: 30px 10px;
        .col-md-5 {
            img {
                width: 50%;
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 320px) {
    .owl-carousel {
        .owl-item {
            .item {
                width: 321px;
                height: 321px;
            }
        }
        .owl-nav {
            display: none;
        }
    }
    .getStart {
        padding: 15px;
    }
    .feedback-cus {
        .feedback-image {
            .image-shadow {
                left: 80px;
                width: 220px;
                height: 220px;
            }
            .image {
                width: 220px;
                height: 220px;
            }
        }
    }
    .our-packages {
        .package-price {
            .choose {
                padding: 0px 43px;
            }
        }
    }
}

@media (max-width: 280px) {
    .feedback-cus {
        .feedback-image {
            .image {
                left: 0;
            }
            .image-shadow {
                left: 52px;
            }
        }
    }
    .footer {
        ul {
            padding-right: 15px;
        }
    }
    .owl-carousel {
        .owl-item {
            .item {
                width: 275px;
                height: 275px;
            }
        }
        .owl-nav {
            display: none;
        }
    }
}