h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", serif;
}

span,
p {
  font-family: "Roboto", sans-serif;
}

.background-orange {
  background-color: #FF6A00;
}

.background-pale-blue {
  background-color: #e6efff;
}

.background-pale-orange {
  background-color: #FFEFE6;
}

.background-pale-green {
  background-color: #E5FAED;
}

.text-dark-gray {
  color: #9e9e9e;
}

.text-dark-gray-medium {
  color: #616161;
}

.text-dark-gray-bold {
  color: #757575;
}

.text-blue {
  color: #005DFF;
}

.text-green {
  color: #28A154;
}

.text-orange {
  color: #FF6A00;
}

.border-blue {
  border: 1px solid #005DFF;
}

.border-orange {
  border: 1px solid #FF6A00;
}

.border-green {
  border: 1px solid #28A154;
}

.text-title {
  font-size: 57px;
  text-align: center;
  font-weight: bold;
}

.text-note {
  font-size: 18px;
  text-align: center;
  font-style: normal;
}

.hr {
  width: auto;
  height: 1px;
  background-color: #EEEEEE;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #212121;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
}

.container {
  max-width: 1170px;
}

.mb-104 {
  margin-bottom: 104px;
}

.navbar {
  margin-top: 27px;
  padding: 0;
}
.navbar .logo,
.navbar .menu {
  padding: 0;
  white-space: nowrap;
}
.navbar .get-start {
  text-align: right;
}
.navbar .get-start button {
  margin-right: -15px;
}
.navbar li a:hover {
  color: black;
}
.navbar .active {
  color: black;
}

.header {
  margin-top: 159px;
}
.header .text-note {
  color: #757575;
  margin: 22px 0 57px 0;
}
.header .btn {
  background-color: #FF6A00;
  padding: 8px 23px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 10px 20px 20px #e0cdbf;
          box-shadow: 0px 10px 20px 20px #e0cdbf;
}
.header .btn i {
  margin-right: 10px;
}

.owlcarousel {
  margin-top: 104px;
  position: relative;
}
.owlcarousel .owl-nav {
  font-size: 80px;
}
.owlcarousel .owl-nav .owl-prev {
  position: absolute;
  left: 1%;
  top: 31%;
}
.owlcarousel .owl-nav .owl-prev:hover {
  background: transparent;
  border: transparent;
}
.owlcarousel .owl-nav .owl-next {
  position: absolute;
  right: 1%;
  top: 31%;
}
.owlcarousel .owl-nav .owl-next:hover {
  background: transparent;
}
.owlcarousel button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

.agency {
  margin-top: 104px;
}
.agency .text-note {
  color: #9e9e9e;
  max-width: 356px;
  margin: 0 auto 64px auto;
}
.agency .agency-logo {
  margin: 0 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works .work-title {
  margin-bottom: 61px;
}
.works .work-title .text-note {
  color: #9e9e9e;
  margin-bottom: 11px;
}

.box-number {
  margin-bottom: 104px;
}
.box-number .number {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  padding: 9px;
  margin: auto;
}
.box-number .text-number {
  font-family: "PT Serif", serif;
  font-size: 57px;
  line-height: 120%;
  font-weight: bold;
  text-align: center;
}
.box-number .text-number:hover {
  text-shadow: -1px 3px 6px black;
}
.box-number .boxnumber-title {
  font-size: 18px;
  margin: 25px 0 15px 0;
  text-align: center;
  font-weight: bold;
}
.box-number .boxnumber-desc {
  font-size: 18px;
  max-width: 310px;
  text-align: center;
  margin: auto;
  color: #616161;
}

.feedback-cus .feedback .feedback-content {
  font-style: normal;
  font-size: 32px;
  line-height: 140%;
  max-width: 461px;
  margin: 38px 0;
  padding: auto;
  font-weight: bold;
}
.feedback-cus .feedback .text-note {
  text-align: left;
}
.feedback-cus .feedback .button {
  margin-top: 96px;
}
.feedback-cus .feedback .button .btn-next {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid red;
  background-color: transparent;
  outline: none;
}
.feedback-cus .feedback .button .btn-next i {
  font-size: 18px;
  color: red;
}

.feedback-image .image-shadow {
  background: linear-gradient(135deg, #FFF8F4 0%, #FFE8DB 100%);
  border-radius: 32px 72px 32px 32px;
  width: 522px;
  height: 522px;
  position: absolute;
  left: 47px;
  top: 0;
  z-index: -1;
}
.feedback-image .image {
  position: relative;
  left: 0;
  top: 40px;
  width: 522px;
  height: 522px;
}
.feedback-image .image img {
  width: 100%;
  height: 100%;
}

.our-packages {
  margin-top: 184px;
}
.our-packages .row {
  margin: 61px -5px 0 -5px;
  overflow: hidden;
}
.our-packages .col-xl-4 {
  padding: 0 5px;
}
.our-packages .package-price {
  border-radius: 16px;
  padding: 48px;
  position: relative;
  overflow: hidden;
}
.our-packages .package-price .circle {
  position: absolute;
  width: 264px;
  height: 264px;
  left: 236.5px;
  top: -132px;
  background: rgba(230, 239, 255, 0.7);
  mix-blend-mode: multiply;
  border-radius: 216px;
}
.our-packages .package-price .circle-mini {
  position: absolute;
  width: 106px;
  height: 106px;
  left: 304.5px;
  top: 70px;
  background: rgba(230, 239, 255, 0.4);
  mix-blend-mode: multiply;
  border-radius: 120px;
}
.our-packages .package-price .choose {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 80px;
  padding: 9px 86px;
  margin-top: 32px;
  font-weight: bold;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

.choose {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 80px;
  padding: 9px 86px;
  margin-top: 32px;
  font-weight: bold;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

.price-content .price-type {
  font-weight: bold;
  font-size: 18px;
  color: #616161;
}
.price-content .price {
  font-weight: bold;
  font-size: 57px;
  margin-top: 16px;
  margin-bottom: 0;
}
.price-content .sub-price {
  font-weight: bold;
  font-size: 14px;
}

.check-list {
  margin-top: 32px;
  margin-left: -40px;
}
.check-list .list-note {
  font-size: 18px;
  margin-bottom: 16px;
}
.check-list .list-note i {
  color: #616161;
}

.product {
  margin-top: 208px;
}
.product .product-menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 18px;
  margin: 60px 0 63px 0;
}
.product .product-menu .nav-link {
  padding: 0;
  margin: 0 27px;
}
.product .product-menu a {
  color: #9e9e9e;
  position: relative;
}
.product .product-menu a:hover {
  color: #005DFF;
}
.product .product-menu a:hover::after {
  content: "";
  width: 100%;
  height: 1px;
  border: 2px solid #005DFF;
  /* width: auto; */
  position: absolute;
  top: 49px;
  left: 0;
}
.product .product-menu .active {
  color: #005DFF;
}
.product .product-menu .active::after {
  content: "";
  width: 100%;
  height: 1px;
  border: 2px solid #005DFF;
  /* width: auto; */
  position: absolute;
  top: 49px;
  left: 0;
}
.product .tab-content .tab-pane {
  margin-bottom: 47px;
}
.product .tab-content .tab-pane .row {
  margin: 0 -8px 16px -8px;
}
.product .tab-content .tab-pane .row .col-xl-4 {
  padding: 0 8px;
}
.product .btn-view {
  padding: 9px 41px;
  border: 1px solid #FF6A00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 80px;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
  outline: none;
  margin-left: 40%;
}
.product .btn-view i {
  margin-left: 10px;
  font-size: 15px;
}

.services {
  margin-top: 169px;
}
.services .text-title {
  margin-bottom: 61px;
}
.services .service-detail {
  margin-bottom: 16px;
  border-radius: 16px;
  padding: 28px 70px 28px 72px;
}
.services .service-detail .col-xl-7 {
  margin: auto;
}
.services .service-detail .detail {
  cursor: pointer;
  margin: auto;
}
.services i {
  font-size: 15px;
}

.detial-name {
  font-weight: bold;
  font-size: 32px;
  line-height: 140%;
}

.detail-subname {
  font-size: 18px;
  margin: 0 0 56px 0;
  max-width: 493px;
}

.detail-note {
  font-size: 18px;
  font-weight: bold;
  margin-right: 30px;
}

.faq {
  margin-top: 171px;
}
.faq .text-title {
  margin-bottom: 61px;
}
.faq .faq-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.faq .content {
  margin-bottom: 48px;
}
.faq .content .text-note {
  max-width: 510px;
  text-align: left;
  margin-top: 29px;
}

.hr-a {
  height: 594.5px;
  width: 1px;
  border: 1px solid #EEEEEE;
}

.getStart {
  position: relative;
  padding: 72px;
  overflow: hidden;
  border-radius: 16px;
  margin-top: 56px;
}
.getStart .start-title {
  font-weight: bold;
  font-size: 57px;
  line-height: 120%;
  text-align: center;
}
.getStart .circle-1 {
  position: absolute;
  width: 365px;
  height: 365px;
  left: -104px;
  top: -276.88px;
  background: #FDAE7C;
  opacity: 0.2;
  border-radius: 363.189px;
}
.getStart .circle-2 {
  position: absolute;
  width: 211px;
  height: 211px;
  left: 863px;
  top: 273.12px;
  background: #FDAE7C;
  opacity: 0.3;
  border-radius: 363.189px;
}
.getStart .circle-3 {
  position: absolute;
  width: 341px;
  height: 341px;
  left: 968px;
  top: 208.12px;
  background: #FDAE7C;
  opacity: 0.3;
  border-radius: 363.189px;
}
.getStart .circle-4 {
  position: absolute;
  width: 189px;
  height: 189px;
  left: 1022px;
  top: -71.88px;
  background: #FDAE7C;
  opacity: 0.1;
  border-radius: 363.189px;
}
.getStart .circle-5 {
  position: absolute;
  width: 189px;
  height: 189px;
  left: 48px;
  top: 315.12px;
  background: #FDAE7C;
  opacity: 0.1;
  border-radius: 363.189px;
}
.getStart .circle-6 {
  position: absolute;
  width: 287px;
  height: 287px;
  left: -144px;
  top: 197.12px;
  background: #FDAE7C;
  opacity: 0.1;
  border-radius: 363.189px;
}
.getStart .circle-7 {
  position: absolute;
  width: 207px;
  height: 207px;
  left: -104.5px;
  top: -66.55px;
  background: #FDAE7C;
  opacity: 0.5;
  border-radius: 363.189px;
}
.getStart .btn-book {
  margin-top: 43px;
  border: #FF6A00;
  background-color: #FF6A00;
  padding: 9px 19px;
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 10px 20px 20px #e0cdbf;
          box-shadow: 0px 10px 20px 20px #e0cdbf;
  outline: none;
}
.getStart .btn-book i {
  margin-left: 10px;
  font-size: 15;
}

.footer-respon {
  display: none;
}

.footer {
  margin-top: 104px;
}
.footer .footer-contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer-contact-info .footer-contact .footer-detail i {
  margin-right: 16px;
}
.footer .footer-socail .socail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer-socail .socail .image {
  width: 22px;
  height: 26px;
  margin: 46px 24px 21px 24px;
}
.footer .footer-socail .socail .image img {
  width: 100%;
}
.footer .footer-socail .copy-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer-socail .copy-right .footer-sub {
  color: #7E92B3;
}
.footer .footer-socail .copy-right .footer-sub .icon {
  font-size: 16px;
  color: #7E92B3;
  margin: 0 10px;
}
.footer .footer-socail .copy-right .footer-sub span {
  color: #6C7E99;
  font-weight: bold;
  font-family: "PT Serif", serif;
}
.footer .footer-socail .copy-right .footer-sub i {
  color: red;
}
.footer .footer-title {
  font-weight: bold;
  font-size: 18px;
  font-family: "PT Serif", serif;
  margin-bottom: 24px;
}
.footer .footer-sub {
  font-size: 14px;
  color: #616161;
}
.footer ul {
  list-style-type: none;
  padding-left: 0px;
  padding-right: 53px;
  white-space: nowrap;
}
.footer ul a {
  color: #616161;
  margin-bottom: 11px;
}
.footer .footer-contact ul {
  padding-right: 0;
}
.footer .footer-contact ul li a {
  line-height: 47px;
}
.footer .footer-intro ul li a {
  line-height: 31px;
}

.footer-respon .footer-contact ul {
  padding-right: 0;
}
.footer-respon .footer-contact ul li a i {
  margin-right: 10px;
}
.footer-respon .footer-intro ul li a {
  line-height: 31px;
}

.item {
  width: 369px;
  height: 369px;
}
.item img {
  width: 100%;
}

.owl-dots {
  display: none;
}

@media (max-width: 1024px) {
  .owl-carousel .owl-item .item {
    width: 335px;
    height: 369px;
  }

  .product .tab-content .tab-pane .col-xl-4 .item {
    width: 310px;
    height: 310px;
  }

  .our-packages .package-price .choose {
    padding: 9px 63px;
  }
}
@media (max-width: 768px) {
  .owl-carousel .owl-item .item {
    width: 250px;
    height: 250px;
  }

  .services .service-detail .col-md-5 img {
    margin-left: -70px;
  }

  .agency .agency-logo {
    display: block;
    text-align: center;
  }
  .agency .agency-logo img {
    margin-bottom: 20px;
  }

  .feedback-cus .feedback-image .image-shadow,
.feedback-cus .feedback-image .image {
    width: 310px;
    height: 310px;
  }

  .our-packages .package-price {
    padding: 12px;
  }
  .our-packages .package-price .choose {
    padding: 9px 55px;
  }

  .product .tab-content .tab-pane .col-xl-4 .item {
    width: 235px;
    height: 235px;
  }

  .footer .footer-contact-info {
    display: block;
  }
  .footer .footer-contact-info .footer-contact {
    margin-top: 20px;
  }
}
@media (max-width: 425px) {
  .owl-carousel .owl-item .item {
    width: 210px;
    height: 210px;
  }

  .text-title {
    font-size: 36px;
  }

  .get-start {
    margin-top: 15px;
    margin-left: -15px;
    text-align: left !important;
  }

  .faq .faq-content {
    display: block;
  }
  .faq .faq-content .hr-a {
    display: none;
  }

  .feedback-cus .feedback .feedback-content {
    font-size: 24px;
  }
  .feedback-cus .feedback .button {
    margin-top: 20px;
  }
  .feedback-cus .image-shadow {
    left: 85px;
    top: 40px;
  }
  .feedback-cus .image {
    left: 20px;
    top: 80px;
  }

  .our-packages {
    padding: 48px;
  }
  .our-packages .package-price {
    padding: 30px;
    margin-bottom: 20px;
  }

  .product .tab-content .tab-pane .col-xl-4 .item {
    margin: 20px auto;
  }
  .product .btn-view {
    margin-left: 25%;
  }
  .product .product-menu .nav-item {
    margin-bottom: 50px;
  }

  .footer-respon {
    display: block;
  }

  .footer .footer-contact-info {
    display: none;
  }
  .footer .footer-contact-info .footer-contact {
    margin-top: 20px;
  }
  .footer .footer-contact-info .footer-contact .footer-detail i {
    margin-right: 16px;
  }
}
@media (max-width: 375px) {
  .owl-carousel .owl-item .item {
    width: 185px;
    height: 185px;
  }
  .owl-carousel .owl-nav {
    display: none;
  }

  .services .service-detail {
    padding: 30px 10px;
  }

  .getStart .btn-book {
    padding: 10px 8px;
  }

  .feedback-cus .feedback-image .image-shadow {
    left: 80px;
    width: 280px;
    height: 265px;
  }
  .feedback-cus .feedback-image .image {
    width: 280px;
    height: 280px;
  }

  .our-packages {
    margin-top: 150px;
    padding: 20px;
  }

  .product {
    margin-top: 100px;
  }
  .product .btn-view {
    padding: 13px 15px;
    margin-left: 20%;
  }

  .services .service-detail {
    padding: 30px 10px;
  }
  .services .service-detail .col-md-5 img {
    width: 50%;
    margin-left: 0;
  }
}
@media (max-width: 320px) {
  .owl-carousel .owl-item .item {
    width: 321px;
    height: 321px;
  }
  .owl-carousel .owl-nav {
    display: none;
  }

  .getStart {
    padding: 15px;
  }

  .feedback-cus .feedback-image .image-shadow {
    left: 80px;
    width: 220px;
    height: 220px;
  }
  .feedback-cus .feedback-image .image {
    width: 220px;
    height: 220px;
  }

  .our-packages .package-price .choose {
    padding: 0px 43px;
  }
}
@media (max-width: 280px) {
  .feedback-cus .feedback-image .image {
    left: 0;
  }
  .feedback-cus .feedback-image .image-shadow {
    left: 52px;
  }

  .footer ul {
    padding-right: 15px;
  }

  .owl-carousel .owl-item .item {
    width: 275px;
    height: 275px;
  }
  .owl-carousel .owl-nav {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */